[package]
name = "btcvault"
version = "0.1.0"
edition = "2024_07"

[dependencies]
starknet = ">=2.14.0"
openzeppelin_access = ">=2.0.0"
openzeppelin_token = ">=2.0.0"

[dev-dependencies]
openzeppelin_utils = ">=2.0.0"
cairo_test = "2.15.2"
snforge_std = "0.55.0"

[[target.starknet-contract]]
casm = true

[tool.fmt]
sort-module-level-items = true
